// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Dosis', sans-serif;
$font-family-ru-sans-serif: 'Fira Sans Condensed', sans-serif;;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

/* Colors */
$color-main: #007b75;
$color-light-green: #2dc5bd;
$color-contrast-dark-green: #012e2d;
$color-font-green: #2ab3ab;
$color-light-font-green: #36ddd5;
$color-white: #f3f3f4;
$color-yellow: #fbbb37;
$color-highlight: #f7f8fc;
$color-border-text-hover: #185d58;
$color-border-circle: #23aca4;
$color-circle-font: #1c0a06;
$color-main-link: #00a39a;
$color-table-hover: #e6154c33;
$color-additional-border-color: #186762;
